<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nl.treadmilllauncher">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 显示顶层浮窗 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TestActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.RunActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.WalkActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.ContextActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.RunWithDefaultSettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.ChooseModeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.ChooseWeightActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.SportSummaryActivity"
            android:screenOrientation="landscape" />

        <service
            android:name=".service.SuspendWindowMgrService"
            android:enabled="true"
            android:exported="false"></service>
    </application>

</manifest>